* {
  box-sizing: border-box;
}

body {
  background: black;
  @media screen and (max-width: 750px) {
    width: fit-content;
  }
}

.mainContainer {
  margin: 0 auto;
}

.mainimg {
  @media screen and (max-width: 850px) {
    align-self: center;
  }
}

a {
  position: relative;
  opacity: 1;
  z-index: 10;
}

img {
  z-index: 100;
  position: relative;
}

.wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  justify-content: center;
  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
}

.wrapper img {
  width: auto;
  height: 500px;
  border: solid 3px white;
  @media screen and (max-width: 850px) {
    height:400px;
  }
}

.bio {
  margin-left: 75px;
  color: white;
  opacity: 0.8;
  width: 800px;
  z-index: 100;
  @media screen and (max-width: 850px) {
    width: 100%;
    margin-left:unset;
  }
}

.name {
  font-family: "Lobster", cursive;
  font-size: 80px;
}

.bio1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  @media screen and (max-width: 1100px) {
    margin-top:0px;
  }
  @media screen and (max-width: 850px) {
    margin-top:80px;
    width:unset;
  }
}

.bio2 {
  @media screen and (max-width: 850px) {
    width:unset;
  }
}

.bio1 h3 {
  font-size: 28px;
  line-height: 35px;
}

p {
  font-family: "Roboto", sans-serif;
}

.socialmedia {
  display: flex;
  width: 20%;
  margin: 0 auto;
  color: white;
  justify-content: center;
}

.socialmedia a {
  font-weight: bold;
  text-decoration: none;
}

.box-area {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  overflow: hidden;
  height:1288px;
  @media screen and (max-width: 1000px) {
    height: 1395px;
  }
  @media screen and (max-width: 1000px) {
    height: 1395px;
  }
  @media screen and (max-width: 900px) {
    height:1515px;
  }
  @media screen and (max-width: 800px) {
    height:1685px;
  }
  @media screen and (max-width: 700px) {
    width:107%;
  }
  @media screen and (max-width: 600px) {
    width:125%
  }
  @media screen and (max-width: 500px) {
    width:190%;
  }
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.522);
  animation: animate 5s linear infinite;
  bottom: -150px;
  z-index: 1;
}

.box-area li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-duration: 5s;
}

.box-area li:nth-child(2) {
  left: 2%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 15%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 51%;
  width: 150px;
  height: 150px;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 60%;
  width: 40px;
  height: 40px;
}

.box-area li:nth-child(6) {
  left: 72%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
  left: 80%;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
}

.box-area li:nth-child(8) {
  left: 95%;
  width: 190px;
  height: 190px;
  animation-duration: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-2000px) rotate(360deg);
    opacity: 0;
  }
}

.feat {
  font-family: "Lobster", cursive;
  font-size: 80px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  grid-gap: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 730px;
  margin-bottom: 100px;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }
}

.projects img {
  margin: 5px;
  border: 3px solid white;
  justify-self: center;
  width: 200px;
  height: 125px;
  @media screen and (max-width: 750px) {
    width: 85%;
    height: auto;
    margin: unset;
    justify-self: unset;
  }
}

h1 {
  text-align: center;
  color: white;
}

.project {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 750px) {
    text-align: center;
  }
}

.projectoptions {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.projectoptions a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: white;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  @media screen and (max-width: 750px) {
    font-family: "Lobster", cursive;
  }
}

i {
  width: 100px;
}

.fa-4x {
  font-size:2em !important;
}

.x {
  text-align: center;
}

.desktopImage {
  @media screen and (max-width: 850px) {
    display:none;
  }
}

.mobileImage {
  display:none;
  @media screen and (max-width: 850px) {
    display:block;
  }
}
